html {
  margin: 0;
  width: 100%;
  background: radial-gradient(#687897, #1c1c27); 
}

body {
  height: 100% ;
}

.slider {
  width: 50%;
  min-width: 20rem;
  max-width: 110vh;
  overflow: hidden;
  display: flex;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 1rem;
  background-color:  #151719;
  border-radius: 2%;
  row-gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
}

.slider-wrapper {
  overflow: hidden;
}

.slider-screen {
  flex-basis: 30%;
  width: 400%;
  height: 100%;
  display: flex;
  line-height: 0;
  overflow: hidden;
}

.slider-img {
  width: 100%;
  height: auto;
  border-radius: 2%;
}

/* .slider-bottom {
  display: flex;
  width: 100%;
  height: 8vh;
  flex-direction: row;
  justify-content: space-between;
  color: white;

} */

.slider-text {
  color: white;
  display: flex;
  flex-basis: 70%;
  height: 2.5rem;
  /* width: 50%; */
}

.slider-text-item {
  display: none;
  color: white;
  height: 2rem;
  font-size: 1rem;
}

.slider-paginator {
  display: flex;
  flex-basis: 30%;
  margin-right: 0;
  justify-content: flex-end;
  height: 2.5rem;
}

#r1:checked ~ .slider-screen .s1 {
  margin-left: 0;
}

#r2:checked ~ .slider-wrapper .slider-screen .s1 {
  margin-left: -25%;
}

#r3:checked ~ .slider-wrapper .slider-screen .s1  {
  margin-left: -50%;
}

#r4:checked ~ .slider-wrapper .slider-screen .s1 {
  margin-left: -75%;
}

#r1:checked ~  .slider-text .slider-text1 {
   display: block ;
   animation: anime 2s forwards;
   color: white;
}

#r2:checked ~  .slider-text .slider-text2 {
  display: block; 
  animation: anime 2s forwards;
  color: white;
}

#r3:checked ~ .slider-text .slider-text3 {
  display: block; 
  animation: anime 2s forwards;
  color: white;
}

#r4:checked ~ .slider-text .slider-text4 {
  display: block; 
  animation: anime 2s forwards;
  color: white;
}


.btn {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color:  transparent;
}



#r1:checked ~ .slider-paginator .btn:nth-child(1) .circle {
  background: transparent;
  border: 0.15rem solid #687897;
  width: 0.7rem;
  height: 0.7rem;
}

#r2:checked ~ .slider-paginator .btn:nth-child(2) .circle {
  background: transparent;
  border: 0.15rem solid #687897;
  width: 0.7rem;
  height: 0.7rem;
}
#r3:checked ~ .slider-paginator .btn:nth-child(3) .circle {
  background: transparent;
  border: 0.15rem solid #687897;
  width: 0.7rem;
  height: 0.7rem;
}
#r4:checked ~ .slider-paginator .btn:nth-child(4) .circle {
  background: transparent;
  border: 0.15rem solid #687897;
  width: 0.7rem;
  height: 0.7rem;
}

  .btn:hover .circle {
  background-color: #fff;
  border: 0.15rem solid #fff  !important;
  width: 0.7rem;
  height: 0.7rem;
}


.slide {
  width: 25%;
  height: 100%;
  transition: all 0.6s ease;
}

.slider-dot {
  display: none;
}

@keyframes anime {
  0% {opacity: 0; }
  100% {opacity: 1;}
}

.circle {
  width: 50%;
  height: 50%;
  background-color: #687897;
  border-radius: 50%;
}