html {
  margin: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(31, 48, 77) 75%, rgb(11, 11, 20) 88%) no-repeat;
}


.slider {
  max-width: ;width: 50%;
  height: auto ;
  overflow: hidden;
  display: flex;
  margin: auto;
  margin-top: 2%;
  padding: 2em 2em 4em;
  background-color:  #151719;
  border-radius: 2%;
  row-gap: 3vh;
  flex-direction: row;
  flex-wrap: wrap;
}

.slider-wrapper {
  overflow: hidden;
}

.slider-screen {
  flex-basis: 30%;
  width: 400%;
  height: 100%;
  display: flex;
  line-height: 0;
  overflow: hidden;
}

.slider-img {
  width: 100%;
  height: auto;
  border-radius: 2%;
}

/* .slider-bottom {
  display: flex;
  width: 100%;
  height: 8vh;
  flex-direction: row;
  justify-content: space-between;
  color: white;

} */

.slider-text {
  color: white;
  display: flex;
  flex-basis: 70%;
  height: 8vh;
  /* width: 50%; */
}

.slider-text-item {
  display: none;
  color: white;
  height: 2vh;
}

.slider-paginator {
  display: flex;
  flex-basis: 30%;
  margin-right: 0;
  justify-content: flex-end;
  height: 2vh;
  
}

#r1:checked ~ .slider-screen .s1 {
  margin-left: 0;
}

#r2:checked ~ .slider-wrapper .slider-screen .s1 {
  margin-left: -25%;
}

#r3:checked ~ .slider-wrapper .slider-screen .s1  {
  margin-left: -50%;
}

#r4:checked ~ .slider-wrapper .slider-screen .s1 {
  margin-left: -75%;
}

#r1:checked ~  .slider-text .slider-text1 {
   transform: scale(1);
   display: block !important; 
   color: white;
}

#r2:checked ~  .slider-text .slider-text2 {
  transform: scale(1); 
  display: block; 
  color: white;
}

#r3:checked ~ .slider-text .slider-text3 {
  transform: scale(1);
  display: block; 
  color: white;
}

#r4:checked ~ .slider-text .slider-text4 {
  transform: scale(1);
  display: block; 
  color: white;
}


.btn {
  width: 1rem;
  cursor: pointer;
  background-color: white;
  opacity: .5;
  border-radius: 50%;
  transition: all 0.4s ease;
}

.slide {
  width: 25%;
  height: 100%;
  transition: all 0.6s ease;
}

.slider-dot {
  display: none;
}